.link:hover svg {
    opacity: 1;
}

.main {
    background-color: var(--color-contact);
    background-image:  radial-gradient(#e29599 8px, transparent 8px), radial-gradient(#e29599 8px, var(--color-contact) 8px);
    background-size: 120px 120px;
    background-position: 0 0,60px 60px;
}
