<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/jquery.fullpage.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Balloon.js")"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <div id="nav">
            <ul class="nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        
        <div id="hero">
            <img src="~/Content/Images/orange.png" />
        </div>

        <section class="page home current" id="home"><h1>home</h1></section>
        <section class="page about" id="about"><h1>about</h1></section>
        <section class="page work" id="work"><h1>work</h1></section>
        <section class="page contact" id="contact"><h1>contact</h1></section>
        
        <div id="hide" style="display: none;">
                @RenderBody()
        </div>


    </body>
</html>