@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ededed;
  --black : #070707;
  --background: var(--black);
  --foreground: var(--white);
  --color-cosplay:#3e9d79;
  --color-contact:#ef999f;
  --color-hello:#7dc0d3;
  --color-code: #4963ac;

  --color-mint: #87c9b1;
  --color-rose:#edc9c9;
  --color-sky: #c0d9e0;
  --color-azure: #7994c3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
