.wrapper {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    .container {
        width: 100%;
        height: 100%;
        align-items: stretch;
    }
      
    .box {
        position:absolute;
        width: 100%;
        height: 25%;
        max-width: 100%;
        display: inline-block;
        color: #fff;
      
        .title {
            position: absolute;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align:center;
        }
    }
      
    h1 {
        cursor: pointer;
        -webkit-text-stroke-color: #fff;
        -webkit-text-stroke-width: 0.02em;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        transition: background-size 1s cubic-bezier(0.67, 0.01, 0.15, 0.98);
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
    }

    .angle {
        background-image: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50.1%);
        background-size: 0% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        
        &:hover {
            background-size: 220% 100%;
        }
    }
      
    .never {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        background-color: var(--color-hello);
        /* background: radial-gradient(ellipse farthest-corner at center bottom, var(--turquoise), #19946b); */
      
        .title {   
            bottom: 0;
            right: 0;
        }
    }
      
    .eat {
        top: 25%;
        right: 0;
        display: block;
        background-color: var(--color-code);
        /* background: radial-gradient(ellipse farthest-corner at center bottom, var(--navy-color), #dfac3f); */
      
        .title {
            bottom: 0;
            right: 0;
        }
    }
      
    .soggy {
        right: 0;
        bottom: 25%;
        background-color: var(--color-cosplay);
        background-image: url(../../public/froggy.png);
        background-size: 55% auto;
        background-repeat: no-repeat;
      
        .title {
            bottom: 0;
            right: 0;
        }
    }
      
    .weetbix {
        left: 0;
        bottom: 0;
        background-color: var(--color-contact);
        
        .title {
            bottom: 0;
            right: 0;
        }
    }

    @media (width >= 40rem) {
        .container {
            transform: rotate(-7deg) scale(1.6) translate(1.2em, 0.5em);
        }
      
        span {
          font-size: 1.8rem;
        }
      
        .box {
            width: 50%;
            height: 50%;
      
            .title {
                transform: rotate(7deg);
            }
        }
      
        .never .title 
        {
            width: 66%;
            height: 77%;
        }
      
        .eat {
            top: 0;
            right: 0;
      
            .title {
                width: 70%;
                height: 64%;
                left: 0;
            }
        }
      
        .soggy {
            bottom: 0;
            right: 0;
      
            .title {
                width: 65%;
                height: 74%;
                top: 0;
                left: 0;
            }
        }
      
        .weetbix .title {
            width: 70%;
            height: 62%;
            top: 0;
        }
    }
      
    @media (width >= 64rem) {
        .container {
          transform: rotate(-7deg) scale(1.6) translate(1em, 0.5em);
        }
      
        span {
          font-size: 3.5rem;
        }
    } 
}
