
/* Apply these styles to everything
	* --------------------------------------- */
* {
    font: 14px tahoma, times, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    width: 400%;
    background: #fff; /* For browsers that do not support gradients */
    background-repeat: no-repeat;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 25%, #eeeeee 75%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 25%,#eeeeee 75%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 25%,#eeeeee 75%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* Headings
	* --------------------------------------- */
h1 {
    font: 24px tahoma, sans-serif;
    color: #fff;
    letter-spacing: 3px;
}

/* Sections
	* --------------------------------------- */
.page {
    width: 25%;
    float: left;
    height: 50%;
    top: 25%;
    display: block;
    background-color: #8cf5ff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    position: relative;
    left: 0;
    z-index: 6;
}

#container {  
    width: 100%;
    position: absolute;
    left: 0px;  
}

#hero {
    position: absolute;
    top: 30%;
    left: 100px;
    animation: hover 4s infinite ease;
    z-index: 9001;
}

@keyframes hover {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, -20px); }
    100% {transform: translate(0px, 0px);}
}

/* Navigation
	* --------------------------------------- */
#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li a {
    background: -webkit-linear-gradient(#53c6d1,rgba(255,0,0,0));
    background: -moz-linear-gradient(#53c6d1,rgba(255,0,0,0));
    background: -o-linear-gradient(#53c6d1,rgba(255,0,0,0));
    background: linear-gradient(#53c6d1,rgba(255,0,0,0));
    display:block;
    height: 100px;
    margin: 0px 20px;
    width: 120px;
    float: left;
    background-position-y: -100px;
    background-repeat: no-repeat;
    line-height: 60px;
    color: #53c6d1;
    text-decoration: none;
    transition: all .25s ease-in;
}

.nav li a:hover {
    background-position-y: 0px;
    color: #ffffff;
}

@media screen and (max-width: 720px) {
    .nav li a {
        margin: 0px 10px;
        width: 60px;
    }
}